/* Details.css */

.book-details-container {
  padding: 1.5rem;
  background-color: #f8f8f8; /* Light gray background color */
}

.book-details-container img.book-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Add rounded corners to the book image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.book-details-container img.book-image:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.critiques-container {
  margin-top: 20px; /* Add some space between book details and critiques */
}

.critiques-list {
  list-style-type: none;
  padding: 0;
}

.critique-item {
  margin-bottom: 8px;
  font-size: 16px; /* Adjust the font size of critiques */
}

.critique-input-container {
  display: flex;
  flex-direction: column;
}

.critique-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.add-critique-btn {
  background-color: #4caf50; /* Green button color */
  color: #fff;
  padding: 12px 15px; /* Adjust padding for the button */
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-critique-btn:hover {
  background-color: #45a049; /* Darker green color on hover */
}
